[ng-cloak] {
  display: none;
}

body {
  font-family: @sans;
  font-size: 16px;
  background-color: @charcoal;
  color: white;
  letter-spacing: 0.5px;

  @media @mobile {
    font-size: 14px;
  }
}

// .desktop-logo {
//   text-align: center;
//   padding-top: 20px;

//   @media @mobile {
//     display: none;
//   }

//   a {
//     display: block;
//   }

//   img {
//     height: 30px;
//   }
// }

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &.top-bar {
    border-bottom: 1px solid @white;
    position: relative;

    .logo {
      width: 100%;
      position: relative;
      top: 30px;
      text-align: center;
      display: block;

      img {
        box-sizing: content-box;
        height: 30px;
        background: #333;
        padding: 10px;
        border: none;
      }
    }
  }

  @media @mobile {
    display: none;
  }
}


.mobile-nav {
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 44px;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 999;

  @media @mobile {
    display: block;
  }

  .logo img {
    height: 25px;
  }
}

.body-wrapper {
  position: relative;

  @media @mobile {
    top: 44px;
  }
}

.header {
  position: relative;
  margin: 1em auto;

  .title {
    font-size: 4em;
    line-height: 1.6em;
    font-family: @hed;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    margin: 10px auto 0;

    @media @mobile {
      font-size: 36px;
    }

    @media (max-width: 500px) {
      font-size: 26px;
    }

    @media (max-width: 350px) {
      font-size: 23px;
    }
  }

  .overtitle {
    padding: 1em auto;
    text-align: center;
    text-transform: uppercase;
    color: #CCC;
    font-size: 12px;

    a {
      text-decoration: none;
      color: #CCC;

      &:hover {
        color: @light;
      }
    }
  }
}

.loading {
  display: none;
  color: #EEE;
  position: fixed;
  font-size: 45px;
  top: calc(~"50% - 23px");
  right: calc(~"50% - 23px");
  z-index: 999999;

  &.show-loading {
    display: block;
  }
}

.share-button {
  letter-spacing: 0;
  position: absolute;
  top: 15px;
  right: 8px;
  z-index: 9999;

  &.sharer-0 label {
    color: #EEE !important;
    background: #333 !important;
  }

  @media (max-width: 980px) {
    top: 137px;
  }

  @media @mobile {
    position: fixed;
    bottom: 16px;
    top: auto;
    right: -48px;

    span {
      display: none;
    }
    
    &.sharer-0 {
      .social.left {
        margin-left: -68px !important;
      }

      .social.bottom {
        margin-top: -239px !important;
      }

      li {
        float: none !important;
      }
    }
  }
}

.bottom-credits {
  text-align: center;
  font-size: 13px;
  color: #DDD;
  padding: 20px 0 10px 0;
  letter-spacing: 1px;
  background: #333;

  @media @mobile {
    padding-bottom: 40px;
  }
}

.ad {
  height: 90px;
  width: 750px;
  margin: 10px auto;

  .floatleft {
    float: left;
  }

  @media @mobile {
    display: none;
  }
}