body {
  font-family: @sans;
  font-size: 14px;
  background-color: @charcoal;
  color: white;
}

.top-bar {
  border-bottom: 1px solid #AAA;

  .logo {
    width: 100%;
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    img {
      box-sizing: content-box;
      height: 30px;
      padding: 10px;
    }
  }
}

.mobile-nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  height: 44px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  z-index: 999;

  .logo img {
    height: 20px;
  }
}

.title {
  font-weight: bold;
  font-size: 40px;
  font-family: @hed;
  text-align: center;
  margin-top: 24px;

  @media @mobile {
    font-size: 26px;
    margin-top: 58px;
  }
}

.ad {
  margin: auto;
  margin-top: 20px;
  background-color: #DDD;
  width: 750px;
  height: 100px;
  text-align: center;
  color: black;

  @media @mobile {
    display: none;
  }
}