* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "values";
@import "page";

.filter-info {
  padding-bottom: 15px;
  font-size: 12px;

  @media @mobile {
    padding-top: 6px;

    .viewing {
      display: none;
    }
  }

  .filter-button {
    cursor: pointer;
    background: @blue;
    color: white;
    padding: 5px 8px;
    margin: auto;
    margin-top: 10px;
    font-size: 13px;

    @media @mobile {
      position: absolute;
      top: 0px;
      right: 10px;
    }

    &:hover {
      background: @light;
    }
  }
}

.container {
  min-height: 800px;
  max-width: 1200px;
  padding: 30px 0;
  margin: auto;
  background-color: @charcoal;
  color: white;
  position: relative;

  @media @mobile {
    width: 100%;
    height: auto;
    margin-top: 16px;
    padding-right: 0;
  }

  .filter {
    width: 578px;
    overflow: hidden;
    font-size: 12px;
    position: absolute;
    background: @charcoal;
    z-index: 998;
    // transform-origin: bottom;
    top: 26px;
    right: 240px;
    // transition: transform .3s ease-out, opacity .3s linear;
    // transform: translateY(-100%) translateX(-50%) perspective(1000px) rotateX(90deg);
    // opacity: 0;
    box-shadow: 0 12px 16px rgba(0, 0, 0, .3);
    background-color: #EEE;
    color: #333;
    display: none;

    @media @mobile {
      width: 100%;
      right: 0;
      top: 0;
    }

    .show-filter& {
      // transform: translateY(0) translateX(-50%) perspective(1000px) rotateX(0deg);
      display: block;
    }

    .inner {
      padding: 0 10px;

      .filter-group {
        float: left;
        padding: 8px 12px 20px 12px;
      }

      .close {
        position: absolute;
        font-size: 15px;
        right: 10px;
        top: 15px;
        cursor: pointer;
        padding: 0px 10px;

        &:hover {
          color: @light;
        }
      }
    }

    h2 {
      margin: 10px 0 0 0;
      font-weight: normal;
    }

    input {
      display: none;

      &:checked + label {
        font-weight: bold;
        color: @blue;
      }

      & + label::before {
        content: "\2610";
      }

      &:checked + label::before {
        content: "\2611";
      }
    }

    label {
      display: block;
      cursor: pointer;

      &::before {
        font-size: 20px;
        margin-right: 8px;
        line-height: inherit;
      }
    }
  }

  .filmstrip {
    width: 200px;
    position: relative;
    float: left;
    height: 100%;

    @media @mobile {
      width: 100%;
      overflow: initial;

      .show-gallery& {
        display: none;
      }
    }

    .images { 
      height: 772px;
      overflow-y: scroll;
      text-align: center;

      @media @mobile {
        height: 100%;
        overflow-y: auto;
      }

      .no-photos {
        font-style: italic;
        padding: 10px 20px;
      }

      img {
        cursor: pointer;
        width: 100%;
        opacity: .4;
        background-position: center;
        background-size: 140%;

        @media @mobile { 
          opacity: 1;
          width: 75%;
        }
        // max-height: 500px;

        // &.ng-enter {
        //   transition: max-height 1s linear;
        //   max-height: 0px;

        //   &.ng-enter-active {
        //     max-height: 400px;
        //   }
        // }

        // &.ng-leave {
        //   transition: max-height 1s linear;
        //   max-height: 500px;

        //   &.ng-leave-active {
        //     max-height: 0px;
        //   }
        // }

        &.current {
          opacity: 1;
        }
      }
    }
  }

  .gallery {
    width: calc(~"100% - 210px");
    padding: 0px 65px;
    position: relative;
    float: left;

    @media @mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background: @charcoal;
      padding: 50px 15px 60px 15px;

      .inner {
        overflow-y: scroll;
        height: 100%;
      }

      .hero { 
        max-width: 100%;
      }

      .info {
        display: inline-block;
        padding-bottom: 10px;
      }
    }

    .show-gallery& {
      display: block;
    }

    .close {
      display: none;
      position: absolute;
      right: 15px;
      top: 50px;
      font-size: 20px;
      cursor: pointer;
      padding: 0px 5px;
      background-color: #EEE;
      color: #333;

      @media @mobile {
        display: block;
      }
    }

    .content {
      .hero {
        text-align: center;
        
        img {
          max-height: 600px;
        }

        .inner-hero {
          display: inline-block;

          .expand {
            color: #333;
            background-color: #EEE;
            position: absolute;
            padding: 5px;
            font-size: 20px;
            cursor: pointer;

            @media @mobile {
              display: none;
            }
          }

          .credit {
            text-align: right;
            font-size: 12px;
            color: #DDD;
            letter-spacing: 1px;
          }

          img {
            max-width: 100%;
          }
        }
      }

      .info {
        padding-top: 15px;

        .photo-title {
          font-size: 16px;
          padding-bottom: 10px;
        }
      }

      // Only show portrait view on large screens
      @media (min-width: 1200px) {
        &.portrait {
          .hero {
            float: left;
            padding-right: 20px;

            img {
              max-height: 760px;
            }

            @media @mobile {
              padding-right: 0;
            }
          }

          .info {
            padding-top: 0;

            @media @mobile {
              padding-top: 15px;
            }
          }
        }
      }
    }

    .arrow {
      font-size: 25px;
      position: absolute;
      top: 395px;
      cursor: pointer;
      color: #888;

      @media @mobile {
        top: auto;
        bottom: 20px;
        cursor: pointer;
      }

      &:hover {
        color: @light;
      }

      &.previous {
        left: 22px;

        @media @mobile {
          left: calc(~"50% - 30px");
        }
      }

      &.next {
        right: 22px;

        @media @mobile {
          right: calc(~"50% - 30px");
        }
      }
    }
  }
}

