* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "values";
@import "page";

.filter-info {
  padding-bottom: 15px;
  font-size: 12px;

  @media @mobile {
    padding-top: 6px;

    .viewing {
      display: none;
    }
  }

  .logo {
    display: none;

    @media @mobile {
      display: block;
    }
  }

  .filter-button {
    cursor: pointer;
    background: @blue;
    color: white;
    padding: 5px 8px;
    margin-bottom: 4px;
    margin-top: 26px;
    font-size: 11px;
    font-weight: lighter;

    @media @mobile {
      position: absolute;
      top: 0px;
      right: 10px;
      margin-top: 10px;
    }

    &:hover {
      background: @light;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: @charcoal;
  color: white;
  position: relative;

  @media @mobile {
    width: 100%;
    height: auto;
    margin-top: 16px;
    padding-right: 0;
  }

  .filter {
    overflow: hidden;
    font-size: 12px;
    position: absolute;
    background: @charcoal;
    z-index: 998;
    // transform-origin: bottom;
    top: 26px;
    right: 230px;
    // transition: transform .3s ease-out, opacity .3s linear;
    // transform: translateY(-100%) translateX(-50%) perspective(1000px) rotateX(90deg);
    // opacity: 0;
    box-shadow: 0 12px 16px rgba(0, 0, 0, .3);
    background-color: #EEE;
    color: #333;
    display: none;

    @media @mobile {
      position: fixed;
      max-width: 100%;
      max-height: 100%;
      overflow: scroll;
      right: 0;
      top: 44px;
      padding-bottom: 40px;
    }

    .show-filter& {
      // transform: translateY(0) translateX(-50%) perspective(1000px) rotateX(0deg);
      display: block;
    }

    .inner {
      padding: 0 35px 0 10px;

      .filter-group {
        float: left;
        padding: 8px 12px 20px 12px;

        &.subgroup {
          display: none;
        }

        &.show-subgroup {
          display: inline-block;
        }

        .clear-filters {
          cursor: pointer;
          font-weight: bold;

          &:hover {
            color: @blue;
          }
        }
      }

      .close {
        position: absolute;
        font-size: 15px;
        right: 10px;
        top: 20px;
        cursor: pointer;
        padding: 0px 10px;

        @media @mobile {
          position: fixed;
          top: 57px;
        }

        &:hover {
          color: @light;
        }
      }
    }

    h2 {
      margin: 10px 0 5px 0;
      font-weight: normal;
    }

    input {
      display: none;

      & + label::before {
        position: relative;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f096";
        margin-right: 4px;
      }

      &:checked + label::before {
        content: "\f14a";
      }
    }

    label {
      display: block;
      cursor: pointer;
      padding: 5px 0;

      &::before {
        font-size: 20px;
        margin-right: 8px;
        line-height: inherit;
      }
    }
  }

  .filmstrip {
    width: 200px;
    position: relative;
    float: left;
    height: 100%;

    @media @mobile {
      width: 100%;
      overflow: initial;

      .desktop-filter {
        display: none;
      }
    }

    .images { 
      height: 740px;
      overflow-y: scroll;
      text-align: center;

      @media @mobile {
        height: 100%;
        overflow-y: auto;
      }

      .no-photos {
        font-style: italic;
        padding: 10px 20px;
      }

      img {
        cursor: pointer;
        width: 100%;
        opacity: .4;
        background-position: center;
        background-size: 140%;

        @media @mobile { 
          opacity: 1;
          width: 75%;
        }
        // max-height: 500px;

        // &.ng-enter {
        //   transition: max-height 1s linear;
        //   max-height: 0px;

        //   &.ng-enter-active {
        //     max-height: 400px;
        //   }
        // }

        // &.ng-leave {
        //   transition: max-height 1s linear;
        //   max-height: 500px;

        //   &.ng-leave-active {
        //     max-height: 0px;
        //   }
        // }

        &.current {
          opacity: 1;
        }
      }
    }
  }

  .gallery {
    width: calc(~"100% - 210px");
    padding: 26px 65px 0px 65px;
    position: relative;
    float: left;

    @media @mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background: @charcoal;
      padding: 54px 15px 0 15px;
      padding-bottom: calc(~"100% - (100% - 50px)");

      .inner {
        overflow-y: scroll;
        height: 100%;
      }

      .hero { 
        max-width: 100%;
      }

      .info {
        display: inline-block;
        padding-bottom: 10px;
      }
    }

    .show-gallery& {
      display: block;
      z-index: 99;
    }

    .close {
      display: none;
      position: absolute;
      right: 15px;
      top: 54px;
      font-size: 20px;
      cursor: pointer;
      padding: 0px 5px;
      background-color: #EEE;
      color: #333;

      @media @mobile {
        display: block;
      }
    }

    .content {
      .hero {
        text-align: center;
        
        img {
          max-height: 701px;
          max-width: 100%;

          @media (max-width: 1200px) {
            max-height: 681px;
          }
        }

        .inner-hero {
          display: inline-block;
          max-width: 100%;

          img {
            cursor: pointer;
          }

          .fullscreen() {
            display: block;
            background-color: black;
            height: 100%;
            padding: 20px 72px 0 72px;

            img {
              height: calc(~"100% - 30px");
              max-width: 100%;
              max-height: 100%;
            }

            .arrow {
              top: calc(~"50% - 12px");
            }

            .zoom-in {
              display: none;
            }

            .zoom-out, .info {
              z-index: 999;
              display: block;
            }

            .info {
              top: calc(~"50% - 50px");
              right: 24px;
            }

            .show-caption-box {
              display: block;
            }
          }

          &:-webkit-full-screen { .fullscreen() }
          &:-moz-full-screen    { .fullscreen() }
          &:-ms-fullscreen      { .fullscreen() }
          &:full-screen         { .fullscreen() }

          .zoom-in, .zoom-out, .info {
            color: @white;
            position: absolute;
            padding: 4px;
            font-size: 18px;
            cursor: pointer;
            right: 20px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 1px;
            min-width: 25px;

            @media @mobile {
              display: none;
            }

            &:hover {
              background: rgba(255, 255, 255, 0.25);
            }
          }

          .zoom-in.disable-fullscreen {
            @media (max-width: 1024px) {
              display: none;
            }
          }

          .zoom-out, .info, .caption-box {
            display: none;
          }

          .caption-box {
            position: absolute;
            background: rgba(0,0,0,0.8);
            left:0;
            right: 0;
            padding: 8px 4px;
          }

          .caption-text {
            max-width: 800px;
            margin: auto;
            text-align: left;
          }

          .credit {
            text-align: right;
            font-size: 12px;
            color: #DDD;
            letter-spacing: 1px;

            @media @mobile {
              font-size: 10px;
            }
          }
        }
      }

      .description {
        padding-top: 15px;
      }

      // Only show portrait view on large screens
      @media (min-width: 1200px) {
        &.portrait {
          .hero {
            float: left;
            padding-right: 20px;

            img {
              max-height: 779px;
            }

            @media @mobile {
              padding-right: 0;
            }
          }

          .info {
            padding-top: 520px;

            @media @mobile {
              padding-top: 15px;
            }
          }
        }
      }
    }

    .arrow {
      font-size: 25px;
      position: absolute;
      top: 395px;
      cursor: pointer;
      color: #888;

      @media @mobile {
        top: calc(~"100% - 36px");
        cursor: pointer;
      }

      &:hover {
        color: @white;
      }

      &.previous {
        left: 25px;

        @media @mobile {
          left: calc(~"50% - 30px");
        }
      }

      &.next {
        right: 25px;

        @media @mobile {
          right: calc(~"50% - 30px");
        }
      }
    }
  }
}
