* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "values";
@import "page";

.container {
  min-height: 800px;
  margin: auto;
  margin-top: 20px;
  background-color: @charcoal;
  color: white;
  max-width: 1200px;
  position: relative;

  @media @mobile {
    width: 100%;
    height: auto;
  }

  .filter {
    width: 200px;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    position: absolute;
    background: @charcoal;
    z-index: 998;
    transform-origin: bottom;
    top: 0;
    right: 200px;
    transition: transform .3s ease-out, opacity .3s linear;
    // transform: translateY(-100%) translateX(-50%) perspective(1000px) rotateX(90deg);
    opacity: 0;
    box-shadow: 0 12px 16px rgba(0, 0, 0, .3);

    .show-filter& {
      // transform: translateY(0) translateX(-50%) perspective(1000px) rotateX(0deg);
      height: 100%;
      opacity: 1;
    }

    .inner {
      padding: 20px;

      .close {
        position: absolute;
        font-size: 15px;
        right: 5px;
        top: 15px;
        cursor: pointer;
        padding: 0px 10px;

        &:hover {
          color: @yellow;
        }
      }
    }

    h2 {
      margin: 10px 0 0 0;
      font-weight: normal;
    }

    input {
      display: none;

      & + label::before {
        content: "\2610";
      }

      &:checked + label::before {
        content: "\2611";
      }
    }

    label {
      display: block;

      &::before {
        font-size: 20px;
        margin-right: 8px;
        line-height: inherit;
      }
    }
  }

  .filmstrip {
    width: 200px;
    position: relative;
    float: left;
    height: 100%;

    @media @mobile {
      width: 100%;
      height: 100%;
      overflow: initial;

      .show-gallery& {
        display: none;
      }
    }

    .filter-info {
      padding: 12px 10px 15px 10px;
      font-size: 12px;

      .filter-button {
        cursor: pointer;
        background: @orange;
        color: white;
        padding: 5px 8px;
        margin: auto;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 13px;

        &:hover {
          background: @yellow;
        }
      }
    }

    .images { 
      height: 772px;
      overflow-y: scroll;

      @media @mobile {
        height: 100%;
        overflow-y: auto;
      }

      .no-photos {
        font-style: italic;
        padding: 10px 20px;
      }
    }

    .image {
      cursor: pointer;
      height: 150px;
      opacity: .4;
      background-position: center;
      background-size: 140%;

      @media @mobile { 
        opacity: 1;
        width: 50%;
        display: inline-block;
      }
      // max-height: 500px;

      // &.ng-enter {
      //   transition: max-height 1s linear;
      //   max-height: 0px;

      //   &.ng-enter-active {
      //     max-height: 400px;
      //   }
      // }

      // &.ng-leave {
      //   transition: max-height 1s linear;
      //   max-height: 500px;

      //   &.ng-leave-active {
      //     max-height: 0px;
      //   }
      // }

      &.current {
        opacity: 1;
      }
    }
  }

  .gallery {
    width: calc(~"100% - 200px");
    padding: 30px 65px;
    position: relative;
    float: left;

    @media @mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background: @charcoal;
      padding: 50px 15px 62px 15px;

      .inner {
        overflow-y: scroll;
        height: 100%;
      }

      .hero { 
        max-width: 100%;
      }

      .info {
        display: inline-block;
        padding-bottom: 10px;
      }
    }

    .show-gallery& {
      display: block;
    }

    .close {
      display: none;
      position: absolute;
      right: 12px;
      top: 10px;
      font-size: 20px;
      color: #888;
      cursor: pointer;
      padding: 0px 10px;

      @media @mobile {
        display: block;
      }
    }

    .content {
      .hero {
        text-align: center;

        .credit {
          text-align: right;
          font-size: 12px;
          color: #DDD;
          letter-spacing: 1px;
        }

        img {
          max-width: 100%;
        }
      }

      .info {
        padding-top: 15px;

        .photo-title {
          font-size: 16px;
          padding-bottom: 10px;
        }
      }

      &.portrait {
        .hero {
          float: left;
          padding-right: 20px;

          img {
            max-height: 760px;
          }

          @media @mobile {
            padding-right: 0;
          }
        }

        .info {
          padding-top: 0;

          @media @mobile {
            padding-top: 15px;
          }
        }
      }
    }

    .arrow {
      font-size: 25px;
      position: absolute;
      top: 395px;
      cursor: pointer;
      color: #888;

      @media @mobile {
        top: auto;
        bottom: 20px;
        cursor: pointer;
      }

      &:hover {
        color: @yellow;
      }

      &.previous {
        left: 22px;

        @media @mobile {
          left: 42%;
        }
      }

      &.next {
        right: 22px;

        @media @mobile {
          right: 42%;
        }
      }
    }
  }
}

