@mobile: ~"(max-width: 768px)";

@sans: Roboto, sans-serif;
@serif: Georgia;
@hed: Georgia;

@charcoal: #333;
@blue: #0081E8;
@light: #00C7FF;

.clear-fix {
  &::after {
    content: " ";
    height: 0;
    width: 0;
    display: block;
    clear: both;
  }
}