<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:700,300italic,400' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>

  <body ng-app="photo-test">

    <div class="ad">ADVERTISEMENT</div>

    <div ng-controller="PhotoController" ng-cloak>

      <div class="desktop-logo">
        <a href="http://seattletimes.com" ng-show="!isMobile()">
          <img src="/assets/logo-gray.jpg">
        </a>
      </div>

      <div class="title">2014 Pictures of the Year</div>

      <div class="mobile-nav" ng-show="isMobile()">
        <%= t.include("partials/_filterInfo.html") %>
      </div>

      <div class="container clear-fix" ng-class="{ 'show-filter': showFilter, 'show-gallery': ui.hero }">
        <div class="filter">
          <div class="inner">
            <div class="close" ng-click="showFilter = false">&#10005;</div>
            <div class="filter-group">
              <h2><i class="fa fa-thumbs-o-up"></i> Editor's Picks</h2>
              <input type="radio" name="playlist" id="default" ng-model="filter.playlist" value="default">
              <label for="default">Default</label>

              <input type="radio" name="playlist" id="special" ng-model="filter.playlist" value="special">
              <label for="special">Special</label>

              <input type="radio" name="playlist" id="all" ng-model="filter.playlist" value="all">
              <label for="all">All</label>
            </div>

            <div class="filter-group">
              <h2><i class="fa fa-tags"></i> Topics</h2>
              <input type="checkbox" id="selects" ng-model="filter.tags.selects">
              <label for="selects">Selects</label>
              <input type="checkbox" id="news" ng-model="filter.tags.news">
              <label for="news">News</label>
              <input type="checkbox" id="sports" ng-model="filter.tags.sports">
              <label for="sports">Sports</label>
              <input type="checkbox" id="nature" ng-model="filter.tags.nature">
              <label for="nature">Nature</label>
              <input type="checkbox" id="people" ng-model="filter.tags.people">
              <label for="people">People</label>
              <input type="checkbox" id="landmarks" ng-model="filter.tags.landmarks">
              <label for="landmarks">Landmarks</label>
            </div>
              
            <div class="filter-group">
              <h2><i class="fa fa-futbol-o"></i> Sports</h2>
              <input type="checkbox" id="seahawks" ng-model="filter.tags.seahawks">
              <label for="seahawks">Seahawks</label>
              <input type="checkbox" id="sounders" ng-model="filter.tags.sounders">
              <label for="sounders">Sounders</label>
              <input type="checkbox" id="uw" ng-model="filter.tags.uw">
              <label for="uw">UW</label>
              <input type="checkbox" id="prep" ng-model="filter.tags.prep">
              <label for="prep">Prep</label>
              <input type="checkbox" id="storm" ng-model="filter.tags.storm">
              <label for="storm">Storm</label>
              <input type="checkbox" id="reign" ng-model="filter.tags.reign">
              <label for="reign">Reign</label>
            </div>

            <div class="filter-group">
              <h2><i class="fa fa-camera"></i> Photographers</h2>
              <input type="checkbox" id="diane" ng-model="filter.tags.diane">
              <label for="diane">Diane Arbus</label>
              <input type="checkbox" id="ansel" ng-model="filter.tags.ansel">
              <label for="ansel">Ansel Adams</label>
            </div>
          </div>
        </div>

        <div class="gallery">
          <div class="inner">
            <div class="close" ng-click="clearHero()">&#10005;</div>

            <i class="arrow previous fa fa-chevron-circle-left" ng-click="changeHero(-1)" ng-show="ui.heroIndex > 0"></i>

            <div class="content" ng-class="{portrait: ui.hero.orientation == 'portrait'}">
              <div class="hero">
                <div class="inner-hero">

                  <i ng-click="launchIntoFullscreen('#hero')" class="expand fa fa-expand"></i>

                  <img id="hero" ng-src="/assets/{{ui.hero.image}}">
                  <div class="credit">{{ui.hero.credit}}</div>
                </div>
              </div>

              <div class="info">
                <div class="photo-title"><strong>{{ui.hero.title}}</strong> <em>({{ui.hero.date}})</em></div>
                <div class="description">{{ui.hero.description}}</div>
              </div>
            </div>
            
            <i class="arrow next fa fa-chevron-circle-right" ng-click="changeHero(1)" ng-show="ui.heroIndex < photos.length - 1"></i>
          </div>
        </div>

        <div class="filmstrip">
          <div ng-show="!isMobile()"><%= t.include("partials/_filterInfo.html") %></div>

          <div class="images">
            <div ng-show="photos.length == 0" class="no-photos">No photos match your search.</div>
            <img
              ng-class="{ current: photo == ui.hero, image: true }" 
              ng-repeat="photo in photos"
              ng-src="/assets/{{photo.image}}"
              ng-click="setHero(photo)">
        </div>
      </div>
    </div>

    <div style="text-align:center">Credits...</div>

    <div class="ad">ADVERTISEMENT</div>

    <script>
      <% csv.photos.forEach(function(photo) { 
        photo.tags = photo.tags.split( "," );
        if (!photo.curated) {
          photo.curated = [];
        } else {
          photo.curated = photo.curated.split(",");
        }
      }); %>
      var photoData = <%= JSON.stringify( csv.photos ) %>;
    </script>

    <script src="app.js"></script>
    <%= t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
